@import "main.css";

/* CSS Custom Properties (variables) defined at root */
:root {
    --colorDeselected: #eee;
    --colorSelected: rgb(236, 243, 236);
}

body {
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
}

header {
    display: grid;
    /* I didn't label these yet, but they are being divided */
    grid-template-areas: "back logo h1-text";
    background-color: cyan;
}

main {
    display: grid;
    grid-area: main;
    grid-template-areas: "form";
}

fieldset {
    display: grid;
    grid-template-areas: "form form form";
    background-color: lime;
}

footer {

    background-color: violet;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

fieldset {
    border: none 0;
}
/* 
.add__date, .add__mood, .add__concept, .add__title, .add__text {
    display: flex;
    flex-flow: column nowrap;
} */

.add__date--input {
    border-style: hidden;
    background-color: var(--colorDeselected);
}

.add__date--input:focus, .add__mood--dropdown:focus, .add__concept--text:focus, .add__title--text:focus, .add__text--text:focus {
    outline: none;
    background-color: var(--colorSelected);
}

.add__mood--dropdown {
    border-style: hidden;
    background-color: var(--colorDeselected);
}

.add__concept--text {
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--colorDeselected);
}


.add__title--text {
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--colorDeselected);
}

.add__text--text {
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--colorDeselected);
}