@import "main.css";

/* CSS Custom Properties (variables) defined at root */
:root {
    --colorDeselected: #eee;
    --colorSelected: rgb(236, 243, 236);
}

body {
    display: flex;
    flex-flow: column nowrap;
}

/* Suggested from stackoverflow to keep
consistent linespacing in text boxes */
textarea { 
    height: auto; 
    overflow: scroll;
    resize: none;
}

.nav {
    align-items: center;
    background-color: cyan;
    display: flex;
    flex-flow: row nowrap;
}

.nav__button {
    flex: 1;
}

.nav__logo {
    flex: 1;
}

.nav__heading {
    flex: 2;
    align-self: end;
}

/* For desktop, activate flex-flow row
Mobile needs column */
.two-col {
    display: flex;
    flex-flow: column nowrap;
    /* flex-flow: row nowrap; */
}

.new {
    background-color: lime;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.new__label {
    letter-spacing: 0.3em;
    font-weight: bolder;
    align-self: center;
}

.new__date--input {
    border-style: hidden;
    background-color: var(--colorDeselected);
}

.new__date--input:focus, .new__mood--dropdown:focus, .new__concept--text:focus, .new__title--text:focus, .add__text--text:focus {
    outline: none;
    background-color: var(--colorSelected);
}

.new__mood--dropdown {
    border-style: hidden;
    background-color: var(--colorDeselected);
}

.new__concept--text {
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--colorDeselected);
}

.new__title--text {
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--colorDeselected);
}

.add__text--text {
    border-style: none;
    border-bottom-style: solid;
    background-color: var(--colorDeselected);
}

footer {
    background-color: violet;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}