@import "normalize.css";
@import "navigationBar.css";

:root { 
  --backgroundYellow: #FBFD54;

  --spiralBlue: #0F83AE;
  --spiralPink: #F618C7;

  --highlightBlue: #e2f6fd;
  --highlightPink: #fff0fc;
  --highlightYellow: #E9EB68;

  --headerShadow: #ededcf;

  --bodyText: #2D2D2D;
}

@font-face {
  /* Custom fonts are for PERSONAL use only. This is a demonstration project */
  font-family: "Amity Jack";
  src: url("../assets/fonts/AmityJack.woff2") form("woff2");
  font-weight: normal;
  font-style: normal;

  font-family: 'Heebo', sans-serif;
}

body {
  font-family: sans-serif;
  color: var(--bodyText);
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 200;
  padding: 0 0 5px 0;
  color: var(--bodyText);
  width: 25vmax;
  border-bottom: 6px solid var(--spiralBlue);
}

h3 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.button {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 1.2em;
  border: none;
  text-align: left;
  text-decoration: none;
  color: var(--bodyText);
  background-color: rgba(255, 255, 255, 0);
  font-weight: bolder;
}

/* WHOLE BODY GRID */
.gridBody {
  display: grid;
}

/* MAIN CONTENT GRID */
.gridMain {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-self: center;
  grid-row-gap: 10px;
  width: 100vw;
}

/* MAIN CONTENT GRID ITEMS */


/* ENTRY FORM */
.sp-form {
  will-change: transform;
  display: grid;
  grid-template-columns: 15vmin auto 15vmin;
  align-content: center;
  height: 90vh;
  position: absolute;
  background-color: #fafafa;
  transform: translateX(-100vw);
  padding: 15px 0;
  width: 100vw;
}

.sp-form__back-btn {
  grid-row: 1;
  background-color: transparent;
  border: none;
  padding: 0 0 5px 0;
  font-size: 2em;
  color: var(--spiralBlue);
  cursor: pointer;
}

.sp-form__h2 {
  grid-column: 2;
  place-self: center;
  width: 100%;
  border-bottom: none;
  text-align: center;
}

label {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.new {
  display: flex;
  flex-flow: column;
  grid-column: 2;
}

.new__center {
  display: flex;
  flex-flow: column nowrap;
}

.new__save-btn {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  background-color: transparent;
  border: 3px solid var(--spiralBlue);
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.3s;
}

.new__save-btn:hover {
  background-color: var(--highlightBlue);
}

/* SLIDING ANIMATION */

.slide-in {
  animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(0vw); }
}

  
@keyframes slide-out {
  0% { transform: translateX(0vw); }
  100% { transform: translateX(-100vw); }
}


/* ENTRY SECTION */
.latest-entry {
  margin: 10px 10px 50px 10px;
  justify-self: left;
  width: 80vmin;
  grid-row-start: 1;
  grid-column: 1 / span 2;
}

.latest-entry__header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  margin: 0 0 0 20px;
}

.latest-entry__title {
  grid-column: 1 / span 2;
  margin: 10px 0 5px 0;
}

.latest-entry__date {
  grid-column: 2;
  font-size: 0.8em;
  margin: 5px 0;
}

.latest-entry__author {
  grid-column: 1;
  font-size: 0.8em;
  margin: 5px 0;
}

.latest-entry__concept {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.latest-entry__mood {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.latest-entry__text {
  margin: 10px 10px 0 20px;
}

/* MAKE A TAGS HAVE SPECIAL BUTTON CLASS */
a {
  color: var(--bodyText);
  text-decoration: none
}

.flexButtons{
  display: flex;
}

.button__new {
  grid-row: 2;
  grid-column: 1;
  border-left: 6px solid var(--spiralPink);
  height: 3em;
  width: 40vmin;
  padding-right: 10px;
  margin-left: 10px;
  place-self: center;
  cursor: pointer;
  transition: 0.3s;
}

.button__new:hover {
  background-color: var(--highlightPink);

}

.button__view-all {
  grid-row: 2;
  grid-column: 2;
  border-left: 6px solid var(--spiralPink);
  height: 3em;
  width: 40vmin;
  margin-left: 10px;
  place-self: center;
  transition: 0.3s;
}

.button__view-all:hover {
  background-color: var(--highlightPink);
}
/***
****
********** DATA **************
****
***/

.sp-data {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 30vh;
}

.sp-data__heading {
  grid-column-start: 2;
  place-self: end center;
  margin-right: 10px;
  text-align: right;
  margin-right: 20px;
}

.sp-total {
  width: 40vw;
  place-self: center;
}

.sp-total__amount {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.sp-total__text {
  text-align: center;
  padding: 0px 10px 0 10px;
  margin: 0;
  font-weight: bolder;
}

.sp-average {
  width: 40vw;
  place-self: center;
}

.sp-average__amount {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  font-weight: 100;
}

.sp-average__text {
  text-align: center;
  padding: 0px 10px 0 10px;
  margin: 0;
  font-weight: bolder;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

/********** WIDE VIEW **********/
@media screen and (min-width: 450px) {

  .gridBody {
    grid-template-columns: auto;
    grid-template-rows: 1fr 5fr 1fr;
  }

  /* TOP HEADING */

  .nav__link {
    writing-mode: horizontal-tb;
  }

  .top-header {
    height: 75px;
  }

  .top-header__h1-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto
  }

  .top-header__title {
    grid-column: 1 / span 2;
    margin: 0;
    color: var(--spiralBlue);
    font-family: "Amity Jack", Arial;
    font-size: 1em;
    letter-spacing: 0.3em;
    place-self: center center;
  }

  .top-header__subtitle {
    font-family: "Amity Jack", Arial;
    font-size: 0.65em;
    letter-spacing: 0.3em;
    color: var(--spiralPink);
  }

  .top-header__subtitle--daily {
    grid-column: 1;
    grid-row: 2;
    margin-right: 10px;
    font-size: .65em;
    writing-mode: horizontal-tb;
    place-self: center end;
  }

  .top-header__subtitle--journal {
    grid-column: 2;
    grid-row: 2;
    margin-left: 10px;
    place-self: center start;
  }

/* END OF HEADER */

  .gridMain {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-self: center;
    grid-gap: 5px;
  }
  
  .button__new {
    grid-row: 2;
    grid-column: 1;
    border-left: 6px solid var(--spiralPink);
    height: 3em;
    width: 40vmin;
    margin-left: 10px;
    place-self: end;
  }

  .button__view-all {
    grid-row: 3;
    grid-column: 1;
    border-left: 6px solid var(--spiralPink);
    height: 3em;
    width: 40vmin;
    margin-left: 10px;
    place-self: end;
  }

  /**
********** FORM **************
**/

.sp-form {
  width: 50vmax;
}

/**
********** Latest Entry **************
**/

.latest-entry {
  place-self: center;
}


/**
********** DATA **************
**/

  .sp-data {
    grid-column: 2;
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 20vh;
    grid-gap: 25px;
    justify-content: left;
  }

  .sp-data__heading {
    margin: 0;
    grid-column-start: 1;
    place-self: center;
    text-align: center;
    width: 20vw;
  }

  .sp-total{
    width: 35vmax;
    place-self: center;
  }

  .sp-average {
    width: 35vmax;
    place-self: center;
  }
}