:root { 
    /* Color Scheme */
    --mainBlue: #181935ff;
    --navYellow: #F2D45C;
    --accentGreen: #10be79ff;
    --accentPurple: #b265e9ff;
    
    /* Font color */
    --fontColor: #f0f0f0ff;

    /* Font style */
    --heeboFont: "Heebo", sans-serif;

    /* Font weights */
    --heeboThin: 100;
    --heeboLight: 300;
    --heeboMedium: 500;
    --heeboBlack: 900;
}