:root { 
    --backgroundYellow: #FBFD54;
  
    --spiralBlue: #0F83AE;
    --spiralPink: #F618C7;
  
    --highlightBlue: #e2f6fd;
    --highlightPink: #fff0fc;
    --highlightYellow: #E9EB68;
  
    /* Font color */
    --fontColor: #f0f0f0ff;

    /* Font style */
    --heeboFont: "Heebo", sans-serif;

    /* Font weights */
    --heeboThin: 100;
    --heeboLight: 300;
    --heeboMedium: 500;
    --heeboBlack: 900;
}