:root { 
    --backgroundYellow: #FBFD54;
  
    --spiralBlue: #0F83AE;
    --spiralPink: #F618C7;
  
    --highlightBlue: #e2f6fd;
    --highlightPink: #fff0fc;
    --highlightYellow: #E9EB68;
  
    --headerShadow: #ededcf;
  
    --bodyText: #2D2D2D;
}
  
@font-face {
    /* Custom fonts are for PERSONAL use only. This is a demonstration project */
    font-family: "Amity Jack";
    src: url("../assets/fonts/AmityJack.woff2") form("woff2");
    font-weight: normal;
    font-style: normal;
  
    font-family: 'Heebo', sans-serif;
}