@import "main.css";

.gridBodyAll {
    display: grid;
    justify-self: center;
    grid-gap: 5px;
}


/* Mobile Specific */
@media screen and (max-width: 450px) {
    .top-header__subtitle--daily {
        place-self: center start;
    }

}