@import "../variables-fonts.css";
@import "../normalize.css";
@import "../nav-bar.css";

.nav__underline--grow {
    width: 2.5em;
  }

/* REMOVE DEFAULT STYLING */
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    list-style-type: none;
}


.gridBody {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-flow: column nowrap;
}

.gridBodyAll {
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    grid-gap: 5px;
    justify-content: space-between;
}

.gridMain {
    margin-top: 20px;
}

.entries {
    margin: 10px 20px 0;
}

.list-entry__container {
    margin-bottom: 20px;
}

.list-entry__header {
    display: grid;
    grid-template-columns: auto auto;
}

.list-entry__title {
    grid-column: 1 / span 2;
}

.list-entry__text {
    margin: 10px 5px 15px 5px;
}

.header__item {
    font-size: 0.9em;
    margin: 3px 5px;
}

.button {
    height: 2.3em;
    margin: 5px 10px;
    width: 7em;
}

.btn--edit:hover {
    background-color: var(--navYellow);
    border-color: var(--navYellow);
}

.btn--delete:hover {
    background-color:#b55151;
    border-color: #b55151;
}

.mood__filters {
    margin: 0 0 0 10px;
}

/* Wide Specific */
@media screen and (min-width: 450px) {
    .gridMain {
        margin-left: 85px;
    }

    .gridItemEntries {
        place-self: center;
        width: 50vw;
    }

    .list-entry__header {
        grid-template-columns: 25vmin 20vmin;
    }

}