.gridBody {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100vh;

}

.gridMain {
  display: grid;
}

@media screen and (min-width: 450px) {

  .gridBody {
    grid-template-rows: 1fr 5fr 1fr;
    min-height: 100vh;
  }

.gridMain {
    justify-self: center;
    grid-gap: 10px;
  }
}
 