.modal__container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.modal__container.modal__show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  display: flex;
  flex-flow: column;
  width: 400px;
  max-width: 70%;
  color: var(--mainBlue);
  background-color: var(--fontColor);
  padding: 30px;
  border-radius: 5px;
}

#modalClose {
  width: 20%;
}

.modal__header {
  display: flex;
}

.sp-form {
  display: flex;
  padding: 15px 0;
}

.sp-form__back-btn {
  background-color: transparent;
  border: none;
  font-size: 2em;
  color: var(--mainBlue);
  cursor: pointer;
}

.sp-form__h2 {
  grid-column: 2;
  place-self: center;
  width: 100%;
}

.new {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.new__item {
  display: flex;
  flex-flow: column nowrap;
}

.new__label {
  font-family: var(--heeboFont);
  font-weight: var(--heeboMedium);
}

.new__field {
  width: 100%;
}

.concept__checkbox {
  margin-right: 10px;
}

.new__save-btn {
  font-family: var(--heeboFont);
  font-weight: var(--heeboBlack);
  background-color: transparent;
  border: 3px solid var(--mainBlue);
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 50px;
  transition: 0.3s;
  width: 50%;
  place-self: center;
}

.new__save-btn:hover {
  background-color: var(--mainBlue);
  color: var(--fontColor);
}