.latest-entry {
  grid-row-start: 1;
  grid-column: 1 / span 2;
}

.latest-entry__decoration {
  display: grid;
  margin-left: 10px;
}

.latest-entry__svg {
  fill: var(--accentGreen);
  height: 2.4em; 
  width: 2.4em;
  grid-column: 1;
  grid-row: 1;
}

.latest-entry__heading {
  font-size: 2.2em;
  letter-spacing: 0.1em;
  grid-column: 1;
  grid-row: 1;
  padding-left: 10px;
}

.latest-entry__title {
  font-size: 1.6em;
  grid-column: 1 / span 2;
  margin: 10px 0 5px 0;
}

.latest-entry__header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 0 10px;
  margin: 0 20px 0 20px;
}

.latest-entry__date {
  grid-column: 2;
  font-size: 0.8em;
  margin: 5px 0;
}

.latest-entry__author {
  grid-column: 1;
  font-size: 0.8em;
  margin: 5px 0;
}

.latest-entry__concept {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.latest-entry__mood {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.latest-entry__text {
  font-weight: var(--heeboLight);
  font-size: 1.1em;
  margin: 10px 10px 0 20px;
}

@media screen and (min-width: 450px) {
  .latest-entry {
    place-self: center;
  }
}