.latest-entry {
  margin: 10px 10px 50px 10px;
  justify-self: left;
  width: 80vmin;
  grid-row-start: 1;
  grid-column: 1 / span 2;
}

.latest-entry__heading {
  font-size: 2.3em;
  letter-spacing: 0.1em;
}

.latest-entry__title {
  font-size: 1.7em;
  grid-column: 1 / span 2;
  margin: 10px 0 5px 0;
}

.latest-entry__header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  margin: 0 0 0 20px;
}

.latest-entry__date {
  grid-column: 2;
  font-size: 0.8em;
  margin: 5px 0;
}

.latest-entry__author {
  grid-column: 1;
  font-size: 0.8em;
  margin: 5px 0;
}

.latest-entry__concept {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.latest-entry__mood {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.latest-entry__text {
  font-weight: var(--heeboLight);
  font-size: 1.1em;
  margin: 10px 10px 0 20px;
}

@media screen and (min-width: 450px) {
  .latest-entry {
    place-self: center;
  }
}