.button {
    border: var(--fontColor) solid;
    border-radius: 50px;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    height: 4em;
    padding: 10px;
    transition: 0.3s;
    place-self: center;
    margin: 30px 0;
}

.button:hover {
    background-color: var(--fontColor);
    color:var(--mainBlue);
    cursor: pointer;
}

.button__create {
    grid-row: 2;
    grid-column: 1 / span 2;
    width: 50vmin;
}

@media screen and (min-width: 450px) {

    .button__create {
        grid-row: 2;
        grid-column: 2;
        place-self: start center;
        width: 30vmin;
        margin: 0;
    }

}