.button {
    border: var(--fontColor) solid;
    border-radius: 50px;
    text-align: center;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    width: 30vmin;
    height: 4.5em;
    padding: 10px;
    transition: 0.3s;
    place-self: center;
}

.button:hover {
    background-color: var(--fontColor);
    color:var(--mainBlue);
    cursor: pointer;
}

.button__create {
    grid-row: 2;
    grid-column: 1;
}
  
/* View-all has the extra place-self because the button is inside an <a> tag */
.button__view-all {
    grid-row: 2;
    grid-column: 2;
    place-self: center;
}

@media screen and (min-width: 450px) {

    .button {
        width: 30vmin;
    }

    .button__create {
        grid-row: 2;
        grid-column: 1;
        place-self: start center;
    }

    .button__view-all {
        grid-row: 2;
        grid-column: 1;
        place-self: start center;
        margin-top: 80px;
    }

}