.sp-data {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 30vh;
}
  
.sp-data__heading {
    grid-column-start: 2;
    place-self: end center;
    margin-right: 10px;
    text-align: right;
    margin-right: 20px;
}

.sp-total {
    width: 40vw;
    place-self: center;
}

.sp-total__amount {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.sp-total__text {
    text-align: center;
    padding: 0px 10px 0 10px;
    margin: 0;
    font-weight: bolder;
}

.sp-average {
    width: 40vw;
    place-self: center;
}

.sp-average__amount {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.sp-average__text {
    text-align: center;
    padding: 0px 10px 0 10px;
    margin: 0;
    font-weight: bolder;
}

@media screen and (min-width: 450px) {

    .sp-data {
        grid-column: 2;
        grid-row: 2 / span 3;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        height: 20vh;
        grid-gap: 25px;
        justify-content: left;
    }

    .sp-data__heading {
        margin: 0;
        grid-column-start: 1;
        place-self: center;
        text-align: center;
        width: 20vw;
    }

    .sp-total{
        width: 35vmax;
        place-self: center;
    }

    .sp-average {
        width: 35vmax;
        place-self: center;
    }
}