.sp-data {
    grid-column: 1 / span 2;
    display: grid;
}

.sp-data__decoration {
    display: grid;
    grid-column: 1 / span 2;
    place-self: end;
    margin-bottom: 20px;
}
  
.sp-data__svg {
    fill: var(--accentPurple);
    height: 2.4em; 
    width: 2.4em;
    grid-column: 1;
    grid-row: 1;
}

.sp-data__heading {
    font-size: 2.3em;
    letter-spacing: 0.1em;
    grid-row: 1;
    grid-column: 1;
    padding-left: 8px;
}

.sp-total {
    place-self: center;
}

.sp-total__amount {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.sp-total__text {
    text-align: center;
    padding: 0px 10px 0 10px;
    margin: 0;
    font-weight: bolder;
}

.sp-average {
    place-self: center;
}

.sp-average__amount {
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

.sp-average__text {
    text-align: center;
    padding: 0px 10px 0 10px;
    margin: 0;
    font-weight: bolder;
}

@media screen and (min-width: 450px) {

    .sp-data {
        display: flex;
        flex-flow: column wrap;
        margin-left: 40px;
        grid-column: 2;
        grid-row: 2;
    }

    .sp-data__decoration {
        place-self: center;
        margin-bottom: 10px;
    }

    .sp-total{
        place-self: center;
        margin: 10px 0;
    }

    .sp-average {
        place-self: center;
        margin: 10px 0;
    }
}